___
# Análise Exploratória de Dados: Pandas e Seleção de Variáveis
___

## Aula 02


**Links Úteis:**
1.	Tutorial disponibilizado no Blackboard e no Github.
2.	10 Minutes to Pandas: http://pandas.pydata.org/pandas-docs/stable/10min.html
3.	Essential Basic Functionality: http://pandas.pydata.org/pandas-docs/stable/basics.html

**Hoje:**
1.	Analisar variáveis qualitativas de forma uni e bivariadas utilizando tabelas de frequências e gráficos de barras e de pizza (ou setor).

**Próxima aula:**
1.	Leitura prévia necessária: Magalhães e Lima (7ª. Edição): pág. 9 a 16 – destacando para variáveis qualitativas.

___

## <font color='blue'>Empresa de TV</font>

Uma empresa de TV via satélite criou recentemente dois tipos de planos de canais (A e B).

A empresa tem como objetivo estudar o perfil dos clientes que aderiram ao plano para enviar malas diretas aos potenciais clientes de cada tipo de plano.

A base de dados apresenta algumas variáveis para uma amostra de 82 clientes selecionados aleatoriamente dentre aqueles que aderiram aos planos. As variáveis têm os seguintes significados:

* CLIENTE: identificador do cliente.
* PLANO: apresenta o plano adquirido pelo cliente – (1=A ou 2=B). 
* EC: apresenta estado civil do cliente no momento da adesão ao  plano – (1=Casado, 2=Solteiro e 3=Outros).
* SATISFACAO: grau de satisfação do cliente pelo plano – 
	(5=Muito satisfeito, 4=Satisfeito, 3=Indiferente, 2=Insatisfeito e 1=Muito insatisfeito).
* RENDA: renda pessoal do cliente, em milhares de reais.


O arquivo `EmpresaTV Cod.xls` contém as variáveis descritas acima.

Faça uma análise exploratória apenas com as variáveis qualitativas com foco no objetivo da empresa.
Desenvolver as seguintes visualizações:

1. Gráfico de colunas (bar) e setor (pie) da frequência relativa das variáveis qualitativas.
2. Tabela Cruzada entre pares de variaveis qualitativas. Montar o gráfico de colunas. Repetir o processo habilitando a opção "stacked=True".

In [59]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import os

In [60]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Dell\Documents\2A\Dados\Aula02_Exploratoria

In [61]:
dados = pd.read_excel('EmpresaTV Cod.xlsx')

___
### Visualizando o conteúdo do *dataset*:

In [62]:
dados.shape

(82, 5)

In [63]:
dados.dtypes

CLIENTE         int64
PLANO           int64
EC              int64
SATISFACAO      int64
RENDA         float64
dtype: object

In [64]:
type(dados)

pandas.core.frame.DataFrame

In [65]:
dados.columns

Index(['CLIENTE', 'PLANO', 'EC', 'SATISFACAO', 'RENDA'], dtype='object')

In [66]:
list(dados.columns)

['CLIENTE', 'PLANO', 'EC', 'SATISFACAO', 'RENDA']

In [67]:
dados.head()

   CLIENTE  PLANO  EC  SATISFACAO  RENDA
0        1      1   1           5   21.4
1        2      1   2           5   17.2
2        3      1   3           5   15.6
3        4      1   1           4   10.4
4        5      1   2           5   17.6

In [68]:
dados.tail()

    CLIENTE  PLANO  EC  SATISFACAO  RENDA
77       78      2   3           2    4.3
78       79      2   2           2    5.7
79       80      2   1           2    4.0
80       81      2   3           2    5.4
81       82      2   1           1    0.6

In [69]:
#Selecionando parte do dataframe - Apenas as variáveis qualitativas
dados.iloc[0:5,0:4]

   CLIENTE  PLANO  EC  SATISFACAO
0        1      1   1           5
1        2      1   2           5
2        3      1   3           5
3        4      1   1           4
4        5      1   2           5

In [70]:
#Selecionando parte do dataframe - Apenas a variável quantitativa
pd.DataFrame(dados.iloc[0:5,-1])

   RENDA
0   21.4
1   17.2
2   15.6
3   10.4
4   17.6

In [71]:
#Selecionando parte do dataframe - Apenas a variável quantitativa
dados.iloc[0:5,-1]

0    21.4
1    17.2
2    15.6
3    10.4
4    17.6
Name: RENDA, dtype: float64

In [72]:
#Selecionando parte do dataframe - Apenas a variável quantitativa
dados.iloc[0:5,[-1]]

   RENDA
0   21.4
1   17.2
2   15.6
3   10.4
4   17.6

### Definindo as variáveis qualitativas como categóricas:

In [79]:
dados.PLANO = dados.PLANO.astype('category')
dados.EC = dados.EC.astype('category')
dados.SATISFACAO = dados.SATISFACAO.astype('category')
dados.RENDA = dados.RENDA.astype('float')

Faça um `dtypes` no *dataset* para verificar o tipo de cada variável:

In [80]:
#DIGITE AQUI!!!
dados.dtypes

CLIENTE          int64
PLANO         category
EC            category
SATISFACAO    category
RENDA          float64
dtype: object

___
### Substituindo os códigos numéricos pelos *labels* em cada variável quanlitativa:

Relembrando:
* PLANO: apresenta o plano adquirido pelo cliente – (1=A ou 2=B). 
* EC: apresenta estado civil do cliente no momento da adesão ao  plano – (1=Casado, 2=Solteiro e 3=Outros).
* SATISFACAO: grau de satisfação do cliente pelo plano – 
	(5=Muito satisfeito, 4=Satisfeito, 3=Indiferente, 2=Insatisfeito e 1=Muito insatisfeito).

In [81]:

dados.PLANO.cat.categories = (['A', 'B'])
dados.EC.cat.categories = (['Casado', 'Solteiro', 'Outros'])
dados.SATISFACAO.cat.categories = (['Muito Insatisfeito', 'Insatisfeito', 'Indiferente', 'Satisfeito', 'Muito Satisfeito'])

In [82]:
dados.head()

   CLIENTE PLANO        EC        SATISFACAO  RENDA
0        1     A    Casado  Muito Satisfeito   21.4
1        2     A  Solteiro  Muito Satisfeito   17.2
2        3     A    Outros  Muito Satisfeito   15.6
3        4     A    Casado        Satisfeito   10.4
4        5     A  Solteiro  Muito Satisfeito   17.6

___
### <font color='cyan'>Atenção:</font> 

Como o objetivo da empresa de TV é comparar os planos A e B, **MANTER OS DOIS PLANOS JUNTOS NO MESMO *DATASET* CERTAMENTE AJUDA MUITO NA ANÁLISE DOS DADOS VIA TABELAS E GRÁFICOS. Entenderemos isso melhor na próxima aula!!** 

## <font color='red'>A seguir, iremos criar novos *datasets* SUPONDO que façam parte do objetivo do problema!!!</font>
___

### Faça os itens a seguir: 

1) Crie um novo dataframe contendo **todas as variáveis apenas os clientes do Plano A;**


2) Crie um novo dataframe contendo **todas as variáveis apenas os clientes Satisfeito e Muito Satisfeito;**


3) Selecione **a variável RENDA apenas os clientes Insatisfeito e Muito Insatisfeito;**


4) No *dataset* `dados`, crie uma **nova variável chamada `Sentimento`** com as seguintes categorias:

        Bravo, se SATISFACAO = Insatisfeito  ou Muito Insatisfeito
        Indiferente, se SATISFACAO = Indiferente
        Feliz, se SATISFACAO = Satisfeito ou Muito Satisfeito

In [105]:
## 1) Crie um novo dataframe contendo todas as variáveis apenas os clientes do Plano A;
dados = pd.read_excel('EmpresaTV Cod.xlsx')

dados.PLANO = dados.PLANO.astype('category')
dados.EC = dados.EC.astype('category')
dados.SATISFACAO = dados.SATISFACAO.astype('category')

dados.EC.cat.categories = (['CABEÇA', 'OMBRO', 'JOELHO'])
dados.SATISFACAO.cat.categories = (['PE', 'OLHOS', 'OUVIDOS', 'Satisfeito', 'Muito Satisfeito'])

dados.PLANO.cat.categories = (['A', 'B'])
fon = dados[(dados.SATISFACAO == "Satisfeito") | (dados.SATISFACAO == "Muito Satisfeito")]
fon

    CLIENTE PLANO      EC        SATISFACAO  RENDA
0         1     A  CABEÇA  Muito Satisfeito   21.4
1         2     A   OMBRO  Muito Satisfeito   17.2
2         3     A  JOELHO  Muito Satisfeito   15.6
3         4     A  CABEÇA        Satisfeito   10.4
4         5     A   OMBRO  Muito Satisfeito   17.6
5         6     A  JOELHO        Satisfeito    9.8
6         7     A  CABEÇA  Muito Satisfeito   13.5
7         8     A   OMBRO        Satisfeito    7.8
8         9     A  CABEÇA        Satisfeito   14.4
9        10     A  CABEÇA  Muito Satisfeito   11.2
10       11     A  CABEÇA        Satisfeito   13.2
11       12     A  CABEÇA        Satisfeito    7.4
12       13     A   OMBRO        Satisfeito    7.7
13       14     A  CABEÇA        Satisfeito    9.2
14       15     A   OMBRO        Satisfeito   10.0
15       16     A   OMBRO  Muito Satisfeito   12.9
16       17     A  CABEÇA        Satisfeito    9.4
18       19     A  CABEÇA  Muito Satisfeito   14.8
19       20     A  JOELHO        Satisfeito   16.7
22       23     A   OMBRO  Muito Satisfeito   12.4
25       26     A  CABEÇA        Satisfeito    9.9
27       28     A  CABEÇA        Satisfeito   11.5
28       29     A   OMBRO        Satisfeito   10.8
33       34     A  CABEÇA        Satisfeito    8.4
34       35     A   OMBRO  Muito Satisfeito   13.2
35       36     A  CABEÇA        Satisfeito   10.7
36       37     A  CABEÇA        Satisfeito   11.2
37       38     A  CABEÇA        Satisfeito   18.5
38       39     A   OMBRO  Muito Satisfeito   12.9
42       43     A  CABEÇA        Satisfeito   10.7
44       45     A  CABEÇA  Muito Satisfeito   14.0
45       46     A  CABEÇA        Satisfeito   13.8
57       58     B  CABEÇA        Satisfeito   19.2
58       59     B  CABEÇA        Satisfeito   10.2
62       63     B   OMBRO        Satisfeito    9.5
63       64     B   OMBRO        Satisfeito   10.6
65       66     B  CABEÇA        Satisfeito    8.2
66       67     B   OMBRO        Satisfeito    9.0
67       68     B  CABEÇA        Satisfeito    7.9

In [21]:
##2) Crie um novo dataframe contendo todas as variáveis apenas os clientes Satisfeito e Muito Satisfeito;

In [22]:
##3) Selecione a variável RENDA apenas os clientes Insatisfeito e Muito Insatisfeito;

In [106]:
##4) No dataset dados, crie uma nova variável chamada Sentimento com as seguintes categorias:
#Bravo, se SATISFACAO = Insatisfeito  ou Muito Insatisfeito
#Indiferente, se SATISFACAO = Indiferente
#Feliz, se SATISFACAO = Satisfeito ou Muito Satisfeito

dados.loc[(dados.SATISFACAO=='Insatisfeito') | (dados.SATISFACAO=='Muito Insatisfeito'),'SENTIMENTO'] = 'Triste'
dados.loc[(dados.SATISFACAO=='Indiferente'),'SENTIMENTO'] = 'Indiferente'
dados.loc[(dados.SATISFACAO=='Satisfeito') | (dados.SATISFACAO=='Muito Satisfeito'),'SENTIMENTO'] = 'Feliz'

dados.loc[(dados.SATISFACAO == "Satisfeito") | (dados.SATISFACAO == "Muito Satisfeito"), 'SENTIMENTO'] = 'MEVERS'
dados.loc[(dados.SATISFACAO == 'Indiferentes'), 'Sentimento'] = 'TEVEZ'
dados

    CLIENTE PLANO      EC        SATISFACAO  RENDA SENTIMENTO  Sentimento
0         1     A  CABEÇA  Muito Satisfeito   21.4     MEVERS         NaN
1         2     A   OMBRO  Muito Satisfeito   17.2     MEVERS         NaN
2         3     A  JOELHO  Muito Satisfeito   15.6     MEVERS         NaN
3         4     A  CABEÇA        Satisfeito   10.4     MEVERS         NaN
4         5     A   OMBRO  Muito Satisfeito   17.6     MEVERS         NaN
5         6     A  JOELHO        Satisfeito    9.8     MEVERS         NaN
6         7     A  CABEÇA  Muito Satisfeito   13.5     MEVERS         NaN
7         8     A   OMBRO        Satisfeito    7.8     MEVERS         NaN
8         9     A  CABEÇA        Satisfeito   14.4     MEVERS         NaN
9        10     A  CABEÇA  Muito Satisfeito   11.2     MEVERS         NaN
10       11     A  CABEÇA        Satisfeito   13.2     MEVERS         NaN
11       12     A  CABEÇA        Satisfeito    7.4     MEVERS         NaN
12       13     A   OMBRO        Satisfeito    7.7     MEVERS         NaN
13       14     A  CABEÇA        Satisfeito    9.2     MEVERS         NaN
14       15     A   OMBRO        Satisfeito   10.0     MEVERS         NaN
15       16     A   OMBRO  Muito Satisfeito   12.9     MEVERS         NaN
16       17     A  CABEÇA        Satisfeito    9.4     MEVERS         NaN
17       18     A   OMBRO           OUVIDOS   10.3        NaN         NaN
18       19     A  CABEÇA  Muito Satisfeito   14.8     MEVERS         NaN
19       20     A  JOELHO        Satisfeito   16.7     MEVERS         NaN
20       21     A  JOELHO           OUVIDOS    9.3        NaN         NaN
21       22     A   OMBRO           OUVIDOS    7.4        NaN         NaN
22       23     A   OMBRO  Muito Satisfeito   12.4     MEVERS         NaN
23       24     A   OMBRO           OUVIDOS    7.0        NaN         NaN
24       25     A  CABEÇA           OUVIDOS    6.8        NaN         NaN
25       26     A  CABEÇA        Satisfeito    9.9     MEVERS         NaN
26       27     A  CABEÇA           OUVIDOS    6.1        NaN         NaN
27       28     A  CABEÇA        Satisfeito   11.5     MEVERS         NaN
28       29     A   OMBRO        Satisfeito   10.8     MEVERS         NaN
29       30     A  CABEÇA             OLHOS    0.8        NaN         NaN
..      ...   ...     ...               ...    ...        ...         ...
52       53     B   OMBRO           OUVIDOS    8.1        NaN         NaN
53       54     B   OMBRO           OUVIDOS    4.9        NaN         NaN
54       55     B   OMBRO           OUVIDOS    4.2        NaN         NaN
55       56     B   OMBRO           OUVIDOS    5.5        NaN         NaN
56       57     B  CABEÇA                PE    0.8        NaN         NaN
57       58     B  CABEÇA        Satisfeito   19.2     MEVERS         NaN
58       59     B  CABEÇA        Satisfeito   10.2     MEVERS         NaN
59       60     B  JOELHO                PE    5.3        NaN         NaN
60       61     B   OMBRO                PE    5.5        NaN         NaN
61       62     B   OMBRO                PE    4.7        NaN         NaN
62       63     B   OMBRO        Satisfeito    9.5     MEVERS         NaN
63       64     B   OMBRO        Satisfeito   10.6     MEVERS         NaN
64       65     B   OMBRO                PE    2.5        NaN         NaN
65       66     B  CABEÇA        Satisfeito    8.2     MEVERS         NaN
66       67     B   OMBRO        Satisfeito    9.0     MEVERS         NaN
67       68     B  CABEÇA        Satisfeito    7.9     MEVERS         NaN
68       69     B   OMBRO           OUVIDOS    6.9        NaN         NaN
69       70     B   OMBRO           OUVIDOS    6.2        NaN         NaN
70       71     B  JOELHO           OUVIDOS    5.3        NaN         NaN
71       72     B   OMBRO           OUVIDOS    5.0        NaN         NaN
72       73     B   OMBRO           OUVIDOS    5.4        NaN         NaN
73       74     B   OMBRO           OUVIDOS    5.8        NaN         NaN
74       75     B  CABEÇA           OUVIDOS    4.9        NaN         NaN
75       76     B  CABEÇA           OUVIDOS    4.3        NaN         NaN
76       77     B  JOELHO             OLHOS    4.2        NaN         NaN
77       78     B  JOELHO             OLHOS    4.3        NaN         NaN
78       79     B   OMBRO             OLHOS    5.7        NaN         NaN
79       80     B  CABEÇA             OLHOS    4.0        NaN         NaN
80       81     B  JOELHO             OLHOS    5.4        NaN         NaN
81       82     B  CABEÇA                PE    0.6        NaN         NaN

[82 rows x 7 columns]

In [24]:
dados

    CLIENTE PLANO        EC          SATISFACAO  RENDA   SENTIMENTO
0         1     A    Casado    Muito Satisfeito   21.4        Feliz
1         2     A  Solteiro    Muito Satisfeito   17.2        Feliz
2         3     A    Outros    Muito Satisfeito   15.6        Feliz
3         4     A    Casado          Satisfeito   10.4        Feliz
4         5     A  Solteiro    Muito Satisfeito   17.6        Feliz
5         6     A    Outros          Satisfeito    9.8        Feliz
6         7     A    Casado    Muito Satisfeito   13.5        Feliz
7         8     A  Solteiro          Satisfeito    7.8        Feliz
8         9     A    Casado          Satisfeito   14.4        Feliz
9        10     A    Casado    Muito Satisfeito   11.2        Feliz
10       11     A    Casado          Satisfeito   13.2        Feliz
11       12     A    Casado          Satisfeito    7.4        Feliz
12       13     A  Solteiro          Satisfeito    7.7        Feliz
13       14     A    Casado          Satisfeito    9.2        Feliz
14       15     A  Solteiro          Satisfeito   10.0        Feliz
15       16     A  Solteiro    Muito Satisfeito   12.9        Feliz
16       17     A    Casado          Satisfeito    9.4        Feliz
17       18     A  Solteiro         Indiferente   10.3  Indiferente
18       19     A    Casado    Muito Satisfeito   14.8        Feliz
19       20     A    Outros          Satisfeito   16.7        Feliz
20       21     A    Outros         Indiferente    9.3  Indiferente
21       22     A  Solteiro         Indiferente    7.4  Indiferente
22       23     A  Solteiro    Muito Satisfeito   12.4        Feliz
23       24     A  Solteiro         Indiferente    7.0  Indiferente
24       25     A    Casado         Indiferente    6.8  Indiferente
25       26     A    Casado          Satisfeito    9.9        Feliz
26       27     A    Casado         Indiferente    6.1  Indiferente
27       28     A    Casado          Satisfeito   11.5        Feliz
28       29     A  Solteiro          Satisfeito   10.8        Feliz
29       30     A    Casado        Insatisfeito    0.8       Triste
..      ...   ...       ...                 ...    ...          ...
52       53     B  Solteiro         Indiferente    8.1  Indiferente
53       54     B  Solteiro         Indiferente    4.9  Indiferente
54       55     B  Solteiro         Indiferente    4.2  Indiferente
55       56     B  Solteiro         Indiferente    5.5  Indiferente
56       57     B    Casado  Muito Insatisfeito    0.8       Triste
57       58     B    Casado          Satisfeito   19.2        Feliz
58       59     B    Casado          Satisfeito   10.2        Feliz
59       60     B    Outros  Muito Insatisfeito    5.3       Triste
60       61     B  Solteiro  Muito Insatisfeito    5.5       Triste
61       62     B  Solteiro  Muito Insatisfeito    4.7       Triste
62       63     B  Solteiro          Satisfeito    9.5        Feliz
63       64     B  Solteiro          Satisfeito   10.6        Feliz
64       65     B  Solteiro  Muito Insatisfeito    2.5       Triste
65       66     B    Casado          Satisfeito    8.2        Feliz
66       67     B  Solteiro          Satisfeito    9.0        Feliz
67       68     B    Casado          Satisfeito    7.9        Feliz
68       69     B  Solteiro         Indiferente    6.9  Indiferente
69       70     B  Solteiro         Indiferente    6.2  Indiferente
70       71     B    Outros         Indiferente    5.3  Indiferente
71       72     B  Solteiro         Indiferente    5.0  Indiferente
72       73     B  Solteiro         Indiferente    5.4  Indiferente
73       74     B  Solteiro         Indiferente    5.8  Indiferente
74       75     B    Casado         Indiferente    4.9  Indiferente
75       76     B    Casado         Indiferente    4.3  Indiferente
76       77     B    Outros        Insatisfeito    4.2       Triste
77       78     B    Outros        Insatisfeito    4.3       Triste
78       79     B  Solteiro        Insatisfeito    5.7       Triste
79       80     B    Casado        Insatisfeito    4.0       Triste
80       81     B    Outros        Insatisfeito    5.4       Triste
81       82     B    Casado  Muito Insatisfeito    0.6       Triste

[82 rows x 6 columns]